<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Reserva de vuelos</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/boostrap/css/bootstrap.css">
    <link rel="stylesheet" href="/styles/boostrap/css/daterangepicker.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <script src="/js/dependencies/jquery.js"></script>
</head>

<body>

<%- body %>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/moment.min.js"></script>
<script src="/js/dependencies/daterangepicker.js"></script>
<script src="/js/dependencies/bootstrap-datepicker.min.js"></script>
<script src="/js/dependencies/bootstrap.min.js"></script>
<!--SCRIPTS END-->


</body>
</html>
