<%- include ../partials/banner.ejs %>

<div class="col-md-8">
  <div class="jumbotron">
      <h1>Reserva Exitosa</h1>
      <p>Su reserva ha sido registrada exitosamente en el sistema</p>
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Regresar al inicio</a></p>
    </div>
</div>