<%- include ../partials/banner.ejs %>

<div class="col-md-8">
  <div class="jumbotron">
      <h1>Reserva Exitosa</h1>
      <p>Su reserva ha sido registrada exitosamente en el sistema</p>
      <p><b>Codigo de Vuelo: </b>
        <ul>
          <% _.each(reservations, function(reservation) { %>
            <li><%=reservation.flightCode%></li>  
          <% }) %>
        </ul>
      </p>
      <p>
      <b>Codigo de Reserva: </b>
        <ul>
          <%_.each(reservations, function(reservation) {%>
            <li>Codigo: <b><%=reservation.code%></b></li>
          <% }) %>
        </ul>
      </p>
      <p>
      <b>Pasajeros Registrados: </b>
        <ul>
          <%_.each(clients, function(client) {%>
            <li>Nombre: <b><%=client.firstName+' '+client.lastName%></b></li>
          <% }) %>
        </ul>
      </p>
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Regresar al inicio</a></p>
    </div>
</div>