<div class="panel panel-primary">

<div class="panel-heading">
    <h3 class="panel-title">Ingrese los datos del cliente</h3>
</div>

<div class="panel-body">


    <form class="form-horizontal">
        <fieldset>

            <!--NOMBRES-->
            <div class="form-group">
                <label class="col-md-4 control-label">Nombres:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="firstName"/>
                </div>
            </div>

            <br>


            <!--APELLIDOS-->
            <div class="form-group">
                <label class="col-md-4 control-label">Apellidos:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="lastName"/>
                </div>
            </div>

            <br>

            <!--IDENTIFICACION-->
            <div class="form-group">
                <label class="col-md-4 control-label">Identificacion:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="identification"/>
                </div>
            </div>

            <br>

            <!--TELEFONO-->
            <div class="form-group">
                <label class="col-md-4 control-label">Número de teléfono:</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="phone"/>
                </div>
            </div>

            <br>

            <!--EMAIl-->
            <div class="form-group">
                <label class="col-md-4 control-label">Email:</label>
                <div class="col-md-8">
                    <input type="email" class="form-control" id="email"/>
                </div>
            </div>

            <!--EDAD-->
            <div class="form-group">
                <label class="col-md-4 control-label">Edad:</label>
                <div class="col-md-8">
                    <input type="number" class="form-control" id="age"/>
                </div>
            </div>

            <br>

            <!--DISCAPACIDAD-->
            <div class="form-group">
                <label class="col-md-3 control-label">Discapcidad:</label>

                <div class="checkbox col-md-2">
                  <label><input type="checkbox" value="" id="handicapped">Aplica</label>
                </div>
                
                <label class="col-md-3 control-label">Porcentaje:</label>
                <div class="col-md-4">
                    <input disabled type="text" class="form-control" id="handicap"/>
                </div>
            </div>

            <br>

            <!--RESERVAR VUELO-->
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-4">
                    <button class="btn btn-primary btn-lg btn-block" id="btn-booking">Reservar vuelo
                    </button>
                </div>
            </div>

        </fieldset>
    </form>

</div>

</div>